<!doctype html>
<html lang="en">
<meta charset="utf-8">
<head>

<!-- Page Title -->
	<title>
	Page Title
	</title>

<!-- For Responsive Mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For Crawlers -->
	<meta name="keywords" content="keywords, tags, search">
	<meta name="description" content="Put the description here">
	<meta name="author" content="me">
	<meta name="robots" CONTENT="all">

<!-- Style -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" href="stylesheets/style.css" />

<!-- Internet Explorer Fallback -->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>
    <!-- Start of page content -->